<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  body {
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
    color: cyan;
  }

  .top-bar {
    background: #616971;
    height: 2.9rem;
    padding: .5rem 0;
  }

  .top-bar a {
    color: royalblue;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .navbar-brand img {
    height: 4rem;
  }

  .navbar {
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgb(0, 0, 0, .3);
    z-index: 1;
  }

  .nav-item {
    padding: .5rem;
  }

  .nav-link {
    color: blue !important;
  }

  .nav-link.active,
  .nav-link:hover {
    color: #5b5555 !important;
  }

  /*========= carousel =========*/
  #carousel {
    box-shadow: 0 .1rem .1rem rgb(0, 0, 0, .3);
  }

  .carousel-inner {
    height: 38rem;
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item-active {
    transition: transform 1.2s ease;
  }

  .carousel-caption {
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    text-transform: uppercase;
  }

  .bg-custom {
    background-color: rgb(0, 0, 0, .4);
    color: white;
    border-radius: 1rem;
  }

  .carousel-caption h1 {
    font-size: 3.8rem;
    text-shadow: .1rem .1rem .3rem rgb(0, 0, 0, 1);
  }

  .border-primary {
    border-top: 2rem solid #4981b3 !important;
  }

  .carousel-caption h2 {
    font-size: 2.2rem;
    text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
  }

  .btn-lg {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1rem;
    border-width: medium;
  }

  .btn-danger {
    background-color: #Ac2615;
    border: .05rem solid #Ac2615;
  }

  .btn-primary {
    background-color: #4981b3;
    border: .05rem solid #4981b3;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    background-color: #68a0d2 !important;
    border: .05rem solid #68a0d2 !important;
  }
</style>

<!--top bar-->
<div class="top-bar">
  <div class="container">
    <div class="col-12 text-left">
      <p><a href="tel:0778645732">call for services HTML - CSS</a></p>
    </div>

  </div>
</div>
<!--end top bar-->


<!--navigation bar-->
<nav class="navbar bg-light navbar-light navbar-expand-lg">
  <div class="container">

    <a routerLink="#" class="navbar-brand"><img src="assets/images/new.jpg " alt="logo" title="logo"></a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="#" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="#" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a routerLink="#" class="nav-link">Projects</a>
        </li>
        <li class="nav-item">
          <a routerLink="#" class="nav-link">Contact Us</a>
        </li>
      </ul>

    </div>

  </div>

</nav>

<!--Lataest carousel-->
<ngb-carousel *ngIf="images" style="max-width: 100%; position: relative;" 
    [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let image of images" style="max-width: 100%;">
        <div class="picsum-img-wrapper" style="height: 450px; max-width: 100%;">
            <img [src]="image" class="img-fluid max-width: 100% max-height: 100% d-block w-100 mb-5" height="450px"
                style="background-size: cover; min-width: 100%; position: relative;">
        </div>
        <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-4 font-weight-bold">Its me</h1>
            <a routerLink="" class="btn btn-danger btn-link btn-lg">Sign Up Here</a>
        </div>
    </ng-template>
</ngb-carousel>




<router-outlet></router-outlet>